<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :mobile, class: "form-control", placeholder: '07123456789', autofocus: true, label: false %>
  </div>

  <div class="form-group">
    <%= f.button :submit, value: "Start", class: 'button' %>
  </div>
<% end %>
