<!DOCTYPE html>
<html>
<head>
  <title>Mispers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://use.typekit.net/pgw4hfd.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

  <div id="user-widget">
    <% if current_user %>
      <!-- Hi <strong><%= current_user.name %></strong>! -->
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% end %>
  </div>

  <div class="wrapper">
    <header class="header">
      <h1>Mispers Stories</h1>
    </header>

    <%= yield %>

    <div class="logo active visible">
        <%= image_tag 'GMP_logo.png' %>
    </div>

  </div>

</body>
</html>
